/* universal */
* { padding: 0; margin: 0; }
html {
  height:100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
  /*width: 100%;*/
  /*height: 100%;*/
}
body > * {
  flex-shrink: 0;
}
#app {
  width: 100%;
  height: 100%;
}
#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.item {
    padding: 1em;
}
.raw-img {
    height: 50%;
    width: 50%;
    align-self: center;
}
.small-text {
    font-size: 0.3em;
    font-family: MINIMAL;
    margin: 0 0 0.2em;
    text-align: center;
}
.very-small-text {
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}
.enlarge-text {
    font-size: 0.7em;
    font-family: MINIMAL;
    overflow: hidden;
    text-align: center;
    margin: 0 0 0.2em;
}
.brief-border {
    padding: 0.5em;
}
.description {
    font-size: 0.7em;
}
.outer-bottom-padding {
    padding-bottom: 1em;
}
.padding-bottom {
    padding-bottom: 1em;
}
.padding-right {
    padding-right: 1em;
}
.href {
display: flex;
justify-content: center;
}
.middle {
    width: 12vw !important;
}
.middle>img {
    max-width: 100%;
}
div>a>img:hover {
    transform: scale(1.5);
}
.href>img {
    transition: transform 0.3s;
}
.left-side>img {
    align-self: flex-start;
}
.right-side>img {
    align-self: flex-end;
}
.description {
    font-size: 1.7vw;
}
.description-holder {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
.title {
    font-size: 2.2vw;
}
.text {
    font-family: MINIMAL;
}
/* boxes */
@font-face {
  font-family: MINIMAL;
  src: url(../fonts/minimal/Minimal.ttf);
}
.outer-text {
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0 auto;
}
#outer-box {
  width: 70%;
  background-color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  margin-top: 10%;
  height: max-content;
  border-radius: 3%;
  min-width: 1em;
  margin-bottom: 10%;
}
#inner-box {
  font-size: 2em;
  color: white;
  text-align: center;
  font-family: MINIMAL;
  margin: 0 auto;
}
#example {
  font-size: 6em;
  color: white;
  font-family: MINIMAL;
}
.class-example {
  font-size: 4em;
  color: white;
  font-family: MINIMAL;
}
#box {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:400px;
    height:400px;
    border:10px solid white;
}
.image-container {
  display: flex;
  flex-direction: row;
}
.box {
  border: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 1%;
  position: relative;
  width: inherit;
  overflow-wrap: anywhere;
  word-wrap: anywhere;
  hyphens: auto;
}
.general-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.general-container>div>.href-image-container {
    width: 50%;
    height: 50%;
}
.left-side>div {
    padding-top: 1em;
    padding-bottom: 1em;
}
.right-side>div {
    padding-top: 1em;
    padding-bottom: 1em;
}
.href-item-container>a>img {
    height: 3em;
    width: 3em;
}
.description-container {
    display: flex;
    flex-direction: column;
    padding-right: 0.5em;
}
.href-image-container>a>img {
    height: 100%;
    width: 100%
}
#main {
    font-size: 3vw;
    font-family: MINIMAL;
    margin: 0;
}
#minor {
    text-align: center;
    font-size: 1.5vw;
    font-family: MINIMAL;
}

/* sidebar */
.sidebar-entries {
    height: 100%;
    z-index: 1;
    position: relative;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 2%;
    font-family: MINIMAL;
    text-decoration: none;
    list-style-type: none;
    padding-top: 2em;
    color: #818181;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    overflow: hidden;
    width: 10em;
    align-items: center;
}
.sidebar-entries>li>a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  display: block;
  transform: scale(1.3);
}
.sidebar-entries>li+li {
    padding-top: 2em;
}
.sidebar-entries>li>a:hover {
  color: #f1f1f1;
  transition: 0.3s;

}
.sidebar-entries>li {
    list-style-type: none;
    padding: 0 0.5em 0 0;
}
#sidebar-entries>li>a {
  padding: 1em 1em 0.1em 1em;
  text-decoration: none;
  font-size: 2em;
  color: white;
  display: block;
  font-family: MINIMAL;
  text-align: center;
}
.sidebar-nav>li {
    cursor: pointer;
}
.sidebar-entries>.sidebar-brand>a {
    color: white;
    transition: 1s;
}
#check:hover ~ label #cover{
    display:block;
}
#sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 3em;
    margin-left: 3em;
    transition: 0.5s;
}
#sidebar.open {
    width: 8.5em;
    margin-left: 4em;
}
#toggle-wrapper {
    position: fixed;
    width: 9%;
    height: 13%;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 4em;
    padding-right: 1em;
    max-width: 3em;
    min-width: 3em;
}
#sidebar-toggle-button {
    padding-top: 5em;
    width: 0em;
}
#sidebar-toggle-button>p {
    font-size: 5em;
    transform: scale(3, 1);
    text-align: center;
    margin: 0;
    cursor: pointer;
    padding-right: 1em;
    color: black;
}
.open>#toggle-wrapper {
    margin-right: 8.4em;
}
.temp-sidebar-wrapper {
  color: white;
  height: 100%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  width: 6%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
      z-index: 1;
}
.sidebar-wrapper {
    display: flex;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    justify-content: flex-end;
    transition: margin .35s ease-out;
}
.open>#sidebar-wrapper {
    width: 8.5em;
}
.open {
    margin-right: 0em;
}
.closed {
    margin-right: -11em;
}
.closed:hover {
    margin-right: -9em;
}
.open>#sidebar-toggle-button:hover .open {
    margin-right: -1em;
}
.open #sidebar-toggle-button:hover + .sidebar-nav {
    margin-right: -1em;
}
.align-vertical {
  flex-direction: column;
}
.align-horizontal {
    flex-direction: row;
}
.text-align-left {
    text-align: left;
}
.flex {
    display: flex;
}
.flex>div {
    display: flex;
}

/* home */
.home>ul>#list-item-home>a {
    color: white;
    transition: 1s;
}
.home-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5em;
}
.home-right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5em;
    margin-bottom: 1em;
}
#sudo-apt-get-gf {
      padding-top: 2.8em;
      align-self: flex-start;
}
#table-role-video>a>img {
    width: 150%;
}
.middle-main-page {
      display: flex;
      flex-direction: column;
      font-size: 4vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      min-width: 7.3em;
}
.home {
    display: flex;
}
#home {
    display: flex;
}
#home-middle {
    display:    flex;
    flex-direction: column;
    justify-content: center;
    min-width:  27vw;
    align-items: center;
}
#home-middle-main-text {
    font-size: larger;
    overflow:  hidden;
    text-align: center;
}
#home-middle-minor-text {
    margin:     0 auto;
    text-align: center;
}
#home-right {
    justify-content: space-around;
    margin-right: 1em;
}
#home-left {
    justify-content: space-around;
    margin-left: 1em;
}
#home {
    min-width: 18em;
    justify-content: center;
}
#home>div>a>img {
    width: 15vw;
}

/* about */
.about>ul>#list-item-about>a {
    color: white;
    transition: 1s;
}
.about-body {
    display: flex;
    flex-direction: row;
}
#end-node-raw {
    align-self: flex-end;
    height: 80%;
}
.segment {
    height: 100%;
    width: 105%;
    align-self: center;
}
.timeline-container {
    display: flex;
}
.about-left-side {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-left: 1.5em;
    margin-top: 1em;
    width: 40vw;
    padding-top: 3vw;
}
.about-right-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-right: 1.5em;
    width: 40vw;
    padding-bottom: 3vw;
}
#about-page-body>div>div {
    width: max-content;
}
#about-page-body>div>div:not(.middle)>img {
    width: 5vw;
}
#about-page-body>div>.left-side {
    flex-direction: row-reverse;
}
#about-page-body>div>.right-side {
    flex-direction: row;
}
#about-page-body>div>.left-side {
    align-self: flex-start;
    margin-top: 4.5vw;
}
#about-page-body>div>.right-side {
    align-self: flex-end;
    margin-bottom: 4.5vw;
}
#about-page-body>div>.middle {
    display: flex;
    justify-content: center;
}
#about-page-body {
    display: flex;
    flex-direction: column;
}
#about-page-body>div {
    justify-content: center;
}
#about-page-body>div {
    display: flex;
    justify-content: space-evenly;
}
#about-page-body>div>div>div {
    display: flex;
    flex-direction: row;
}
.about-left-side>.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.about-right-side>.gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}
#about>div>div>img {
    width: 3em;
}
#about>div>div>div>a>img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}
#about {
    min-width: 26em;
    width: 78vw;
    display: flex;
    flex-direction: column;
}
#about>div>img {
    width: 6em;
}
#load-more {
    margin-right: 3vw;
    position: absolute;
    bottom: 0%;
    right: -2%;
    cursor: pointer;
}
.about-left {
    display: flex;
    justify-content: flex-end;
    margin-top: 12em;
}
.about-right {
    display: flex;
    justify-content: flex-start;
    align-content: space-evenly;
    align-self: flex-end;
    margin-bottom: 12em;
}
.about-left>div>img {
    width: 10%;
    height: 8%;
}
.about-right>div>img {
    width: 10%;
    height: 8%;
}
#explanation-header {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    margin-left: 0vw;
    margin-right: auto;
    margin-top: -3vw;
    font-size: 2vw;
}
#explanation-body {
    margin-left: 9vw;
    margin-right: 16vw;
    margin-top: -1vw;
    font-size: 2vw;
    background-color: black;
    position: absolute;
    border-radius: 1em;
    padding: 1em;
    border-style: solid;
    border-width: thin;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 750ms ease;
    font-family: MINIMAL;
}
#about-me-sub-header {
    font-size: 2.5vw;
    font-weight: bold;
    margin-bottom: 0vw;
    margin-top: -1vw;
}
}
#explanation-header:hover {} /*hover doesn't work unless this is here, why?*/
#explanation-header:hover + #explanation-body {
  visibility: visible;
  opacity: 1;
}

/* contact */
.contact>ul>#list-item-contact>a {
    color: white;
    transition: 1s;
}
#email {
    width: 85%;
    height: min-content;
    cursor: pointer;
    padding: 10%;
}
#email-secure {
  max-width: 7em;
  min-width: 1em;
}
.popup {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
#email:hover .popup {
  visibility: visible;
}
#contact-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1em;
}
#contact-container {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1em;
}
#mail-big {
    max-width: 100%;
    width: 36vw;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    min-width: 15em;
}
#mail-big:hover + #mail-small{
    display: inline;
}
#mail-small {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    display: none;
    max-width: 100%;
    width: 36vw;
    min-width: 15em;
}
#mail-small:hover {
    display: inline;
}

/* projects */
.projects>ul>#list-item-projects>a {
    color: white;
    transition: 1s;
}
#project-page-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.project-box {
    display: flex;
    border-style: solid;
    border-radius: 1%;
    border-width: 0.1em;
    margin-bottom: 1em;
}
.project-box>a {
    margin: 0.3em 0.3em;
    border: 4px;
}
.project-box>div>h3 {
    margin-bottom: 0.1em;
}
#project-page-body>div>a>img {
    width: 10vw;
    height: auto;
}

/* media */
@media all and (max-width: 500px) {
    /* u */
    .description {
        display: none;
    }
    .title {
        font-size: 1.5em;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
        margin-left: 2em;
    }
    .description-holder {
        justify-content: center;
    }
    /* h */
    #home>div>a>img {
        width: 10em !important;
    }
    #home-middle {
        display: none;
    }
    /* a */
    #about>div>img {
        width: 6em;
    }
    #about {
        min-width: 26em;
        width: 78vw
    }
    /* s */
    #sidebar-toggle-button {
        padding-bottom: 5em;
    }
    #sidebar-toggle-button>p {
        position: relative;
        top: 84%;
    }
}
